body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: "Myriad Pro", sans-serif;
    color: #ffffff;
}

.intro-text {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
.title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.111;
    text-align: center;
}

a {

    color: #ffffff;
}

a img {
    border: none;
}
 img {
     display: block;
 }

.order {
    font-size: 12px;
    color: #000000;
    line-height: 24px;
    text-align: right;
    font-weight: bold;
}

.order > a {
    color: #000000;
}