body {
    padding: 0; margin: 0; background: #ffffff;
    color: #333333;
}

.content {

}

a {
    text-decoration: none;
}

a img {
    border: none;
}
img {
    display: block;
}

.letter {
    font-size: 10.374px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color:  #ffffff;
    line-height: 1.077;
    text-align: left;
}
.site {
    font-size: 15px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color:  #ffffff;
    line-height: 1.133;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}

.buy-ticket {
    font-size: 15px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #ffffff;
    line-height: 1.133;
    text-align: left;
}

.link {
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #000000;
    text-decoration: underline;
    line-height: 1.541;
    text-align: center;
}

.cancel {
    font-size: 10.328px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #000000;
    text-decoration: underline;
    line-height: 1.541;
    text-align: center;
}

.disclaimer {
    font-size: 8.778px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #929396;
    line-height: 1.091;
}

.schedule {
    font-size: 8px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #929396;
    line-height: 1.091;
    text-align: center;

}
.schedule > a {
    color: #929396;
}


.phone {
    font-size: 14px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #929396;
    text-align: right;
}

.block-price {
    font-size: 30px;
    font-family: "ReformaGroteskDemiC", sans-serif;
    color: #ee4123;
    text-align: left;
    font-weight: bold;
}

.price {
    font-size: 55px;
    font-family: "ReformaGroteskDemiC", sans-serif;
    color: #ee4123;
    text-align: left;
    font-weight: bold;
}

.text {
    font-size: 15px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: #000000;
    line-height: 1.133;
    text-align: left;
}


