body {
    padding: 0; margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    background: #ffffff;
}

.content{
    margin: 0 auto;
}

.text{
    font-family: Arial,Tahoma,Verdana,sans-serif;
    text-align: center;
    font-size: 28px;
}

.green{
    color: #0c4634;
}

span{
    font-weight: bold;
}

ul{
    margin: 0;

}