body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: sans-serif;
    color: #333333;
}

.content {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.22);
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.title {
    font-size: 44px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #eae7dd;
}

.main-text {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

a {
    color: #b7aa86;
    text-decoration: none;
}

a img {
    border: none;
}

.colored {
    color: #b7aa86;
}

.text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.nav-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.nav-item {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}

.spacer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.offer {
    /*border: 1px solid #eaeaea;*/
    box-shadow: 0 2px 8px 0 #c3c1c4;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.offer__img {
    display: block;
    width: 100%;
}

.offer__title {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

.offer__description {
    font-size: 12px;
    line-height: 1.69;
    margin: 0;
    vertical-align: top;
    mso-line-height-rule: exactly;
}

.offer__spacer {
    display: inline-block;
}

.offer__btn {
    display: inline-block;
}

.offers-text {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.social-title {
    color: #b7aa86;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.notice {
    text-align: center;
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 16px;
}

.contacts-item {
    line-height: 150%;
    mso-line-height-rule: exactly;
    color: #ffffff;
    font-size: 13px;
}

.section-title {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

ul {
    display: inline-block;
    text-align: left;
}