body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: sans-serif;
    color: #ffffff;
}


.title {
    font-size: 24px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.main-text {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

a {
    color: #baa481;
    text-decoration: none;
}

a img {
    border: none;
}

.colored {
    color: #baa481;
}

.nav-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.nav-item {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}

.spacer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.offer {
    /*border: 1px solid #eaeaea;*/
    box-shadow: 0 2px 8px 0 #c3c1c4;
    text-align: center;
    background: #ffffff;
}

.offer__img {
    display: block;
    width: 100%;
}

.offer__title {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.offer__description {
    font-size: 12px;
    margin: 0;
    vertical-align: top;
    line-height: 150%;
    mso-line-height-rule: exactly;
}

.offer__spacer {
    display: inline-block;
}

.offer__btn {
    display: inline-block;
}

.offers-text {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.social-title {
    color: #b7aa86;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.notice {
    text-align: center;
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 16px;
    color: #ffffff;
}

.contacts-item {
    line-height: 150%;
    mso-line-height-rule: exactly;
    color: #ffffff;
    font-size: 13px;
}

.section-title {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.red {
    color: #d0021b;
}

.intro-title {
    text-align: center;
}

.intro-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.text-justify{
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
 p {
    margin-bottom: 0;
    margin-top: 0;
}

.event-description {
    /*font-size: 12px;*/
    /*line-height: 18px;*/
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}