body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: sans-serif;
    color: #000000;
}

img {
    display: block;
}

.main {
    width: 100%;
    max-width: 600px;
}

.main-padding {
    width: 100%;
    max-width: 50px;
}

.main-content {
    width: 100%;
    max-width: 500px;
}

.table-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid #ececec;
    box-sizing: border-box;
}

.table-small {
    width: 100%;
    max-width: 500px;
}

.table-news {
   /* width: 100%;
    max-width: 530px;*/
    box-shadow: 0.342px 0.94px 6px 0 #bab6b6;
    border: 1px solid #dcdbdb;
}

.table-news-left {
    width: 100%;
    max-width: 230px;
}

.table-news-right {
    width: 100%;
    max-width: 250px;
}

.button {
    width: 100%;
    max-width: 122px;
}

.globus {
    width: 100%;
    max-width: 225px;
}

.header {
    background-image: url("https://www.uaz.ru/assets/img/mail/171121UazDealers/gray-fon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    max-width: 600px;
}

.count {
    background-image: url("https://www.uaz.ru/assets/img/mail/UazDealers1712/count-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100%;
    max-width: 600px;
}

.black-link {
    color: #000000;
    text-decoration: underline;
}

.title {
    font-size: 18px; /*11.515px;*/
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(26, 37, 43);
    line-height: 1.333;
    text-align: left;
    cursor: default;
}

.title-news {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(26, 37, 43);
    line-height: 1.308;
    text-align: left;
}

.text-news {
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(26, 37, 43);
    line-height: 1.6;
    text-align: left;
}

.bolder {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.grey-text {
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(135, 135, 135);
    font-style: italic;
    line-height: 1.4;
    text-align: left;
}

.red-text {
    color: #e3350b;
}
.green-text {
    color: #014637;
}

.text {
    font-size: 14px;
    font-family: sans-serif;
    /*font-weight: bold;*/
    line-height: 1.667;
    text-align: left;
    color: rgb(26, 37, 43);
    cursor: default;
}

.borderBottom {
    border-bottom: 3px solid #014637;
}

.border-right {
    border-right: 1px solid #014637;
}

.href {
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}

a {
    text-decoration: none;
    color: rgb(5, 68, 51);
}

img.content-img {
    width: 100%;
    height: auto;
    max-width: 498px;
}

img.title-img {
    width: 100%;
    height: auto;
    max-width: 598px;
}


