body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: sans-serif;
}

.wrapper {
    min-width: 600px;
}

p {
    color: #7b6d4d;
    font-size: 15px;
    line-height: 17px;
    font-family: sans-serif;
    -webkit-text-size-adjust: none;
    mso-line-height-rule: exactly;
    text-align: left;

    margin: 0;
    margin-bottom: 1em;
}

a {
    color: #b0976d;
}

a img {
    border: 0;
}

h1 {
    font-size: 44px;
    line-height: 32px;
    color: #b0976d;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    -webkit-text-size-adjust: none;
    mso-line-height-rule: exactly;
    margin: 0.3em 0 0.8em;
    text-transform: uppercase;
}

.wrapper-td {
    border: 1px solid #b7b7b7;
}

.content-td {
    border-bottom: 1px solid #b0976d;
}

.mail-link {
    text-decoration: none;
    color: #7b6d4d;
}

.mail-link:hover {
    text-decoration: underline;
}

.ico {
    width: 20px;
    height: 20px;
}