body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: Arial, sans-serif;
}

.wrapper {
    min-width: 600px;
}

.wrapper-table,
.content-table {
    font-family: Arial, sans-serif;
}


p {
    color: #ffffff;
    font-size: 15px;
    line-height: 17px;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: none;
    mso-line-height-rule: exactly;
    text-align: left;

    margin: 0;
    margin-bottom: 1.2em;
}

a {
    color: #b0976d;
}

a img {
    border: 0;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #ae976d;
    text-align: left;
    -webkit-text-size-adjust: none;
    mso-line-height-rule: exactly;
    margin: 0.2em 0 0.4em;
}

.wrapper-table {
    background: #14121F;
    color: #ffffff;
}

.feature__item {
    color: #ffffff;
}

img {
    display: block;
    border: 0;
}

.button {
    background: #ae976d;
}

.button-link {
    background: #ae976d;
    display: block;
    color: #ffffff;
    text-decoration: none;
    border: 20px solid #ae976d;
}

.num {
    width: 39px;
    height: 39px;
}

.footer-table {
    font-family: Arial, sans-serif;
    background: #ffffff;
    text-align: left;
}

.disclaimer {
    color: #999999;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    -webkit-text-size-adjust: none;
    mso-line-height-rule: exactly;

}