body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: sans-serif;
    color: #333333;
}

.title {
    font-size: 24px;
    margin: 0 0 18px;
    text-align: center;
}

.main-text {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

a {
    color: #b7aa86;
    text-decoration: none;
}

a img {
    border: none;
}

.colored {
    color: #b7aa86;
}

.nav-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
}

.nav-item {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.spacer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.offer {
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 8px 0 #c3c1c4;
    text-align: center;
    background: #ffffff;
}

.offer__img {
    display: block;
    margin-bottom: 25px;
}

.offer__title {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.offer__description {
    font-size: 12px;
    margin: 0;
    vertical-align: top;
    line-height: 150%;
    mso-line-height-rule: exactly;
}

.offer__spacer {
    display: inline-block;
}

.offer__btn {
    display: inline-block;
}

.offers-text {
    text-align: center;
    font-size: 22px;
}

.social-title {
    color: #b7aa86;
    text-align: center;
    font-size: 22px;
}

.notice {
    text-align: center;
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 16px;
}

.contacts-item {
    line-height: 150%;
    mso-line-height-rule: exactly;
    color: #ffffff;
    font-size: 13px;
}