body {
    padding: 0 20px 50px; margin: 0; background: #ffffff;
    font-family: sans-serif;
    color: #333333;
}

h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial,Tahoma,Verdana,sans-serif;
}



a img {
    border: none
}

.wrapper {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid #ececec;
}

.header {
    border-bottom: 4px solid #0c4634;
}

.colored {
    color: #0c4634;
}

.strong {
    font-weight: bold;
}

.title {
    color: #0c4634;
    text-align: center;
    font-size: 28px;
    font-family: Arial,Tahoma,Verdana,sans-serif;
}

.news-item {
    border: 1px solid #cfcfcf;
}

.news-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: #1c252c;
    font-family: Arial,Tahoma,Verdana,sans-serif;
}

.news-text {
    font-size: 12px;
    text-align: left;
    color: #333333;
    line-height: 1.6;
    font-family: Arial,Tahoma,Verdana,sans-serif;
}

.offer {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
}

.copyright {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    font-family: Arial,Tahoma,Verdana,sans-serif;
}

.copyright a {
    text-decoration: underline;
}

.notice {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #8e8c8e;
}

.notice a {
    color: #8e8c8e;
    text-decoration: underline;
}