body {
  padding: 0;
  margin: 0;
  background: #000000;
  font-family: serif;
  color: #ffffff;
}

img {
  border: none;
  display: block;
  color: #f5d185;
  text-decoration: none;
}

a {
  border: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}


.text {
  font-size: 18px;
  font-family: "GTEestiProDisplay", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
}
.title {
  font-size: 20px;
  font-family: "ReformaGroteskDemiC", sans-serif;
  color: rgb(200, 203, 206);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}


.offer-header {
  border: 1px solid #ffffff;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.offer-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.title-offer {
  font-size: 12px;
  font-family: "GothamPro", sans-serif;
  color: #d1d5d8;
  text-transform: uppercase;
  line-height: 1.185;
  text-align: center;
  font-weight: bold;
}

.price-offer {
  font-size: 30px;
  font-family: "GothamPro", sans-serif;
  font-weight: 800;
  color: #e4e5e5;
  text-align: center;

}

.old-price-offer {
  font-size: 20px;
  font-family: "GothamPro", sans-serif;
  font-weight: 800;
  color: #869295;
  text-align: center;
  text-decoration: line-through;
  text-decoration-color:  #ffffff;

}

.button-offer {
  text-align: center;
}
.button-offer > a {
  font-size: 12px;
  font-family: "GothamPro", sans-serif;
  color: rgb(38, 47, 49);
  text-transform: uppercase;
  line-height: 1.185;

  font-weight: bold;

}
.background-blue {
  background-color: #91cfea;
}

.text-2 {
  font-size: 12px;
  font-weight: bold;
  font-family: "GothamPro", sans-serif;
  color: rgb(45, 55, 57);
  text-align: left;
}
.href {
  text-decoration: none;
  color: rgb(45, 55, 57);
}
.text-3 {
  font-size: 12px;
  font-weight: bold;
  font-family: "GothamPro", sans-serif;
  color: rgb(45, 55, 57);
  text-align: left;
}

.button-href {
  font-size: 12px;
  font-family: "GothamPro", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.185;
  text-align: center;
}

.button {
  border-radius: 5px;
  overflow: hidden;
  background: #2f393b;
  height: 30px;
  width: 230px;
  text-align: center;
}

.social-icon {
  border: none;
  display: block;
  width: 100%;
  max-width: 29px;
  height: auto;
}

.dis {
  font-size: 10px;
  font-family: "GothamPro", sans-serif;
  color: #252525;
  line-height: 1.4;
  text-align: left;
}





