body {
  padding: 0;
  margin: 0;
  background: #000000;
  font-family: serif;
  color: #ffffff;
}

img {
  border: none;
  display: block;
  color: #f5d185;
  text-decoration: none;
}

a {
  border: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 15px;
  font-family: "GTEestiProDisplay", sans-serif;;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 13px;
  font-family: "GothamPro", sans-serif;
  color: rgb(45, 55, 57);
  line-height: 1.5;
  text-align: justify;
}

.offer-header {
  border: 1px solid #b8b8b8;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.offer-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.title-offer {
  font-size: 11px;
  font-family: "GothamPro", sans-serif;
  color: #b8b8b8;
  text-transform: uppercase;
  line-height: 1.185;
  text-align: center;
  font-weight: bold;
}

.price-offer {
  font-size: 20px;
  font-family: "GothamPro", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;

}

.button-offer {
  text-align: center;
}
.button-offer > a {
  font-size: 12px;
  font-family: "GothamPro", sans-serif;
  color: rgb(38, 47, 49);
  text-transform: uppercase;
  line-height: 1.185;

  font-weight: bold;

}
.background-blue {
  background-color: #b8b8b8;
}

.text-2 {
  font-size: 10px;
  font-weight: bold;
  font-family: "GothamPro", sans-serif;
  color: #ffffff;
  text-align: left;
}
.href {
  text-decoration: none;
  color: #ffffff;
}
.text-3 {
  font-size: 10px;
  font-weight: bold;
  font-family: "GothamPro", sans-serif;
  color: #ffffff;
  text-align: left;
}

.button-href {
  font-size: 10px;
  font-family: "GothamPro", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.185;
  text-align: center;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  overflow: hidden;
  background: #f2eee9;
  height: 30px;
  width: 230px;
  text-align: center;
}

.social-icon {
  border: none;
  display: block;
  width: 100%;
  max-width: 29px;
  height: auto;
}

.dis {
  font-size: 10px;
  font-family: "GothamPro", sans-serif;
  color: rgb(191, 191, 191);
  line-height: 1.4;
  text-align: left;
}






