body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: serif;
  color: #000000;
}

img {
  border: none;
  display: block;
  color: #f5d185;
  text-decoration: none;
}

a {
  border: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
.button-red {
  display: block;
  background-color: #e53012;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 146px;
  padding: 18px 0;

}

.button-red-hole {
  display: block;
  background-color: #e53012;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  padding: 10px 0;

}
.wrapper {
  max-width: 558px;
}

.title {
  font-size: 20px;
  font-family: "Myriad Pro", sans-serif;;
  color: #ec4025;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}
.colored {
  color: #e3b078;
}

.text {
  font-size: 16px;
  font-family: "GTEestiProDisplay", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: left;
}
.text-bold {
  font-size: 20px;
  font-family: "GTEestiProDisplay", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: left;
  font-weight: 800;
}
ul{
  padding: 0;
  margin: 0;
  padding-left: 20px;
}
.title-2 {
  font-size: 35px;
  font-family: "GTEestiProDisplay", sans-serif;
  color: #ec4025;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
}

.title-3 {
  font-size: 27px;
  font-family: "GTEestiProDisplay", sans-serif;
  color: #ec4025;
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
}
.bold {
  font-weight: 800;
}
.text-4 {
  font-size: 18px;
  font-family: "GTEestiProDisplay", sans-serif;
  color: #ec4025;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}



.offer-header {
  border: 1px solid #ffffff;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}
.offer-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.title-offer {
  font-size: 11px;
  font-family: "GothamPro", sans-serif;
  color: #ff4e2d;
  text-transform: uppercase;
  line-height: 1.185;
  text-align: center;
  font-weight: bold;
}

.price-offer {
  font-size: 29px;
  font-family: "GothamPro", sans-serif;
  font-weight: 800;
  color: #ff4e2d;
  text-align: center;

}
.old-price-offer {
  font-size: 16px;
  font-family: "GothamPro", sans-serif;
  font-weight: 800;
  color: #ff4e2d;
  text-align: center;
  text-decoration: line-through;
  text-decoration-color:  #929292;

}

.button-offer {
  text-align: center;
}
.button-offer > a {
  font-size: 12px;
  font-family: "GothamPro", sans-serif;
  color: #262f31;
  text-transform: uppercase;
  line-height: 1.185;

  font-weight: bold;

}
.button-offer.white > a {
  color: #ffffff;
}
.background-blue {
  background-color: #b8b8b8;
}

.text-2 {
  font-size: 10px;
  font-weight: bold;
  font-family: "GothamPro", sans-serif;
  color: #ffffff;
  text-align: left;
}
.href {
  text-decoration: none;
  color: #ffffff;
}
.text-3 {
  font-size: 10px;
  font-weight: bold;
  font-family: "GothamPro", sans-serif;
  color: #ffffff;
  text-align: left;
}

.button-href {
  font-size: 12px;
  font-family: "GothamPro", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.185;
  text-align: center;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  overflow: hidden;
  background: #ffa1a1;
  color: #ffffff;
  height: 30px;
  width: 230px;
  text-align: center;
}

.social-icon {
  border: none;
  display: block;
  width: 100%;
  max-width: 29px;
  height: auto;
}

.dis {
  font-size: 10px;
  font-family: "GothamPro", sans-serif;
  color: #ffffff;
  line-height: 1.4;
  text-align: left;
}

.dis-black {
  font-size: 9.5px;
  font-family: "GothamPro", sans-serif;
  color: #000000;
  line-height: 1.4;
  text-align: left;
  font-weight: bold;
}

.text-center {
  text-align: center;
}
.number {
  color: #0007ff;
  font-size: 29px;
  line-height: 1;
  font-family: "GothamPro", sans-serif;
  font-weight: 800;
  text-align: center;
}