body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: serif;
    color: #000000;
}

img {
    border: none;
    display: block;
    color: #f5d185;
    text-decoration: none;
}

a {
    border: none;
    text-decoration: none;
    color: #ffffff;
}

p {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

.text {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
}
.red {
    color: #971818;
}
.green {
    color: #4bf384;
}
.button-first {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 18px 0;
    font-size: 16px;
    height: 100%;

}
.button-second {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    padding: 18px 0;
    font-size: 16px;
    height: 100%;
}
.button-third {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    padding: 18px 0;
    height: 100%;
    font-size: 16px;
}
.button-fourth {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 18px 0;
    font-size: 16px;
    height: 100%;
}
.button {
    display: block;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 18px 0;
    font-size: 21px;
    line-height: 21px;
}

.carriage {
    text-align: center;
    color: #03205c;
    background-color: #ffffff;
    padding: 3px 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
}