body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: serif;
    color: #000000;
}

img {
    border: none;
    display: block;
    color: #f5d185;
    text-decoration: none;
}

a {
    border: none;
    text-decoration: none;
    color: #ffffff;
}

p {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: bold;
}

.text {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
}
.button {
    width: 240px;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    background-color: #0B54B7;
    border-radius: 4px;
}

a {
    display: block;
}