body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

a img {
    border: none;
}

a {
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.133;
    text-align: left;
}

img {
    display: block;
    height: auto;
    border: none;
}

.cancel {

}

.preheader {
    font-size: 1px;
    color: #ffffff;
    line-height: 1px;
    opacity: 0;
    overflow: hidden;
}

.red-text {
    color: #ee4123;
}

.button {
    display: block;
    width: 100%;
    max-width: 140px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
}

.button-buy {
    font-size: 13px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: rgb(146, 147, 150);
    line-height: 1.133;
    text-align: left;
    text-decoration: none;
}

.big-text {
    font-size: 50px;
}

.bolder-text {
    font-weight: bold;
}

.title-text {
    font-family: "PF Din Text Cond Pro", sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.111;
    text-align: center;
}

.text {
    font-size: 15px;
    font-family: "PF Din Text Cond Pro", sans-serif;
    color: rgb(35, 31, 32);
    line-height: 1.2;
}

.intro-text {
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.2;
    text-align: left;
}

.intro-text > p {
    line-height: 1.2;
}

.disclaimer {
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #929396;
    line-height: 1.091;
    text-align: justify;
}

.schedule {
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #929396;
    line-height: 1.091;
    text-align: center;
}

.phone {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #929396;
    text-align: right;
    text-decoration: none;
}

.mail {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #929396;
    text-align: right;
    text-decoration: none;
}

.mail > a{
    color: #929396;
    text-decoration: none;
}

.phone > a{
    color: #929396;
    text-decoration: none;
}
