body {
    padding: 0; margin: 0; background: #ffffff;
    font-family: "Myriad Pro", sans-serif;
    color: #ffffff;
}

.intro-text {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.intro-text-black {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.intro-text-black-center {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.111;
    text-align: center;
}

.title-black {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.111;
    text-align: center;
}

.italic {
    font-style: italic;
}


.left {
    text-align: left;
}

a {

    color: #000000;
}

a img {
    border: none;
}
 img {
     display: block;
     font-size: 14px;
 }

.order {
    font-size: 12px;
    color: #000000;
    line-height: 24px;
    text-align: right;
    font-weight: bold;
}

.order > a {
    color: #000000;
}

p {
    margin: 0;
}

.disclaimer, .href {
    font-size: 10px;
    color: rgba(24, 23, 28, 0.639);
    line-height: 1.3;
}